body{
    overflow-y: overlay;
    
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 10%;
    display: block;
    background-color: #121212;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo_container{
    display: table;
    float: left;
    height: 80px;
    width: 204px;
    background-image: url(images/website-logo-white.png);
    background-size: cover;
    transition: background-image 0.2s ease-in-out;
    cursor: pointer;
}

.logo_container:hover{
    background-image: url(images/website-logo-gold.png);
    cursor: pointer;
}


.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;

}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}

.navigation a li:hover{
    color: rgb(255, 183, 0);
}

.lang-img{
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
    margin-right: 4px;
    vertical-align: middle;
}

.dropbtn, .dropdown-content{
    width: fit-content;
    display: table-cell;
    vertical-align: middle;
}

.dropbtn {
    background-color: #444444;
    color: white;
    width: fit-content;
    padding: 12px;
    font-size: 16px;
    font-family: 'Montserrat';
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s; 
}

.dropbtn:hover{
    background-color: #909090;
}

.dropdown-content {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background: rgb(255, 183, 0);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.1s, 0.1s linear;
}


.dropbtn:hover .dropdown-content{
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}


.dropdown-content a {
    color: black;
    font-family: 'Montserrat';
    text-decoration: none;
    display: block;  
	width: inherit;
    height: inherit;
    padding: 12px;
    font-size: 16px;
	float:none;
	display:list-item;
	position: relative;
    transition: all 0.2s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #ffd500;
}

.language-dropdown{
    display: table;
    vertical-align: middle;
}

.language-dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
}

.hero{
    background: url(images/hero-page-7-final-1.jpg);
    background-color: rgba(0, 0, 0, 0.755);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
    
}


.hero h1{
    text-align: left;
    color: #f2f2f2;
    padding-left: 5%;
    padding-top: 10vh;
    font-family: 'Saira';
}

.hero p{
    color: #f2f2f2;
    max-width: 400px;
    font-family: 'Saira';
    padding-left: 5%;
    padding-top: 24px;
}

.second-page{
    height: 1000px;
}
